<div class='m-5'>
    <h1>Videography</h1>
    <!-- Horizontal line -->
    <hr>
    <p>Videography is an essential part of my work. My passion is to make travel videos,<br>
    and for work I’m specialized in water sports videos. When I have the chance, I also make animated projects.</p>
    <div class='position-relative d-flex justify-content-left'> <!-- Aggiunto il posizionamento relativo al div genitore -->
        <div class='travel-videos position-relative mr-3'> <!-- Aggiunto il posizionamento relativo al div travel-videos -->
            <!-- Testo sovrapposto -->
            <div class='position-absolute top-50 start-50 translate-middle'>
                <h1 class='travel text-white'>TRAVEL</h1>
            </div>
        </div>
        <div class='sports-videos position-relative mx-3'> <!-- Aggiunto il posizionamento relativo al div travel-videos -->
            <!-- Testo sovrapposto -->
            <div class='position-absolute top-50 start-50 translate-middle'>
                <h1 class='travel text-white'>SPORTS</h1>
            </div>
        </div>
        <div class='other-videos position-relative ml-3'> <!-- Aggiunto il posizionamento relativo al div travel-videos -->
            <!-- Testo sovrapposto -->
            <div class='position-absolute top-50 start-50 translate-middle'>
                <h1 class='travel text-white'>OTHERS</h1>
            </div>
        </div>
    </div>
</div>
