<div class="row m-2 pt-2">
  <% @videos.each do |video| %>
    <div class="col-md-4">
      <div class="card mb-2git a shadow-sm">
        <img src="<%= video.preview_image_url %>" class="card-img-top" alt="<%= video.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= video.title %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
