<div class='antonellalogo' style='margin-top: 50px; margin-bottom: 30px'></div>

<!-- Horizontal line -->
<hr class="my-3" style="border-color: #171F23; width: 50%; margin: 0 auto; height: 5px;">
<div class='d-flex justify-content-center'>
  <p class="text-center">
  I’m a 29-year-old creative from Italy and this is my digital universe,
  where my passion for <br>travel unfolds through different disciplines,
  all converging in my blog.
  </p>
</div>
  <p class='text-center'><strong><i>Join my journey!</i></strong></p>
<div class='d-flex justify-content-center'>
<div class="icon-container d-flex justify-content-center my-5">
    <i class="fa-solid fa-play" style="color: #171f23;"></i>
</div>
</div>

<video autoplay muted loop id="video-bg">
    <source src="<%= asset_path('Homepage.mp4') %>" type="video/mp4">
    Your browser does not support the video tag.
</video>
