@import 'home';
@import 'colors';
@import 'fonts';
@import 'travel_videos';
@import 'graphic_design';
@import 'illustration';


body {
  font-family: $inter;
  font-size: 18px;
  font-weight: 200;
  color: $primary-color;
}

h1, h2, h3 {
  font-family: $abhaya-libre;
  color: $primary-color;
}

/* And so on... */


.airplane {
  width: 200px;
  height: 50px; /* Add a height */
  background-image: url('anto.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0px;
}

body {
  background-color: #EBEAEA;
}
