.mood {
  display: flex;
  flex-direction: column; /* Align elements in a column */
  align-items: center; /* Center items horizontally */
}

.moodboard-1,
.moodboard-2 {
  height: 100vh;
  width: 100vw; /* Set the width to 100% of the viewport width */
  background-size: contain; /* Adjusted to contain the image within the element */
  background-repeat: no-repeat;
  margin: 10px 0; /* Add some margin between the images */
}

.moodboard-1 {
  background-image: url('Miele.png');
}

.moodboard-2 {
  background-image: url('Calcio.png');
}
