.moodboard-1 {
  height: 100vh;
  width: 80%; /* Set the width to 80% */
  max-width: 1000px; /* Optional: Limit the maximum width */
  margin: 0 auto; /* Center the element horizontally */
  background-image: url('Miele.png');
  background-size: contain; /* Adjusted to contain the image within the element */
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.moodboard-2 {
  margin-top: 0px;
  height: 100vh;
  width: 80%; /* Set the width to 80% */
  max-width: 1000px; /* Optional: Limit the maximum width */
  margin: 0 auto; /* Center the element horizontally */
  background-image: url('Calcio.png');
  background-size: contain; /* Adjusted to contain the image within the element */
  background-repeat: no-repeat;
}
