.antonellalogo {
  height: 30vh; /* Imposta l'altezza al 100% della finestra del browser */
  background-image: url('antonellacorreale_logo.png'); /* Imposta l'immagine di sfondo */
  background-size: contain; /* Ridimensiona l'immagine per coprire l'intero elemento */
  background-position: center; /* Posiziona l'immagine al centro */
  background-repeat: no-repeat;
  /* Aggiungi altri stili se necessario */
}
