.antonellalogo {
  height: 30vh; /* Imposta l'altezza al 100% della finestra del browser */
  background-image: url('antonellacorreale_logo.png'); /* Imposta l'immagine di sfondo */
  background-size: contain; /* Ridimensiona l'immagine per coprire l'intero elemento */
  background-position: center; /* Posiziona l'immagine al centro */
  background-repeat: no-repeat;
  /* Aggiungi altri stili se necessario */
}

.line {
  color: #171F23;
}

.hr {
  color: #171F23;
}

.icon-container {
  width: 75px; /* Adjust size as needed */
  height: 75px; /* Adjust size as needed */
  background-color: rgb(255, 255, 255);
  border-radius: 50%; /* Makes the container circular */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.icon-container i {
  color: #171f23; /* Icon color */
  font-size: 24px; /* Adjust icon size as needed */
}

#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  opacity: 20%;
}
