.card {
  --bs-card-title-spacer-y: 0;
}

h5 {
  font-family: 'Abhaya Libre', sans-serif;
}

.play-button {
  transition: transform 0.2s ease-in-out; /* Aggiungi una transizione per creare un effetto di ingrandimento fluido */
}

.play-button:hover {
  transform: scale(1.2); /* Ingrandisci il pulsante al passaggio del mouse */
}
